 .countries{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:20px;
}
.country{
    border:3px solid goldenrod ;
    background-color: aquamarine;
    background-color: aquamarine;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    
}
.country img{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


  